<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>demo.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ConnectionString</param-name>
    <param-value>jdbc:mysql://127.0.0.1/?user=java&amp;password=java</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>initParamServlet</servlet-name>
    <servlet-class>demo.InitParamServlet</servlet-class>
    
    <init-param>
      <param-name>emailSupport1</param-name>
      <param-value>initParam1@example.com</param-value>
    </init-param>
    
    <init-param>
      <param-name>emailSupport2</param-name>
      <param-value>initParam2@example.com</param-value>
    </init-param>
    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>initParamServlet</servlet-name>
    <url-pattern>/initParam</url-pattern>
  </servlet-mapping>
  
</web-app>